<%= form_with model: note,
  data: { controller: "auto-submit" },
  class: "flex flex-col h-full" do |form| %>
  <div
    class="
      flex flex-col flex-1 rounded-lg border border-zinc-400
      dark:border-zinc-600 shadow w-full
    "
  >
    <% if note.errors.any? %>
      <div style="color: red">
        <h2>
          <%= pluralize(note.errors.count, "error") %> prohibited this note
          from being saved:
        </h2>

        <ul>
          <% note.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.label :title, class: "sr-only" %>

    <%= form.text_field :title,
      data: { action: "auto-submit#submit" },
      placeholder: t(".title"),
      class: "pt-4 pl-4 pb-2 rounded-t-lg text-xl" %>

    <%= form.label :content, class: "sr-only" %>

    <%= form.textarea :content,
      placeholder: t(".content"),
      data: {
        action: "auto-submit#submit"
      },
      class: "p-4 w-full h-full rounded-b-lg" %>
  </div>

  <div class="hide-if-js-enabled">
    <div class="w-full flex justify-center pt-4">
      <%= button_tag type: :submit,
        class: "p-2 m-2 border border-zinc-400 dark:border-zinc-600 shadow rounded-full flex items-center justify-center w-1/2 hover:bg-zinc-200 dark:hover:bg-zinc-800" do %>
        <%= t("notes.edit.submit") %>
      <% end %>
    </div>
  </div>
<% end %>
