<%= tag.li "",
  id: dom_id(note),
  data: note.empty? ? {remove_empty_notes_target: "item"} : {},
  class: "w-full rounded-lg border border-zinc-400 dark:border-zinc-600 shadow hover:bg-zinc-200 dark:hover:bg-zinc-800" do %>
  <article class="h-full">
    <%= link_to edit_note_path(note),
      id: dom_id(note),
      class: "h-full p-3 flex flex-col gap-2 rounded-lg" do %>
      <div class="text-lg"><%= note.title %></div>

      <div class="flex-1">
        <% content = truncate note.content, length: Current.user.preferences.note_index_truncate_length %>

        <p class="w-full h-full whitespace-pre-line break-all">
          <%= content %>
        </p>
      </div>

      <%= button_to false, note_path(note),
        method: :delete,
        form: note.empty? ? {data: {remove_empty_notes_target: "form"}} : {},
        class: "hidden" %>

      <div class="flex justify-end">
        <small class="font-thin text-xs">
          <%= t("notes.index.edited_time_ago",
            # i18n-tasks-use t('datetime.distance_in_words.about_x_hours')
            # i18n-tasks-use t('datetime.distance_in_words.about_x_months')
            # i18n-tasks-use t('datetime.distance_in_words.about_x_years')
            # i18n-tasks-use t('datetime.distance_in_words.almost_x_years')
            # i18n-tasks-use t('datetime.distance_in_words.half_a_minute')
            # i18n-tasks-use t('datetime.distance_in_words.less_than_x_minutes')
            # i18n-tasks-use t('datetime.distance_in_words.less_than_x_seconds')
            # i18n-tasks-use t('datetime.distance_in_words.over_x_years')
            # i18n-tasks-use t('datetime.distance_in_words.x_days')
            # i18n-tasks-use t('datetime.distance_in_words.x_minutes')
            # i18n-tasks-use t('datetime.distance_in_words.x_months')
            # i18n-tasks-use t('datetime.distance_in_words.x_seconds')
            # i18n-tasks-use t('datetime.distance_in_words.x_years')
            time_ago: time_ago_in_words(note.updated_at, format: :short)) %>
        </small>
      </div>
    <% end %>
  </article>
<% end %>
