<% content_for :title, t(".forgot_your_password") %>

<%= form_with url: passwords_path,
  class: "flex flex-col w-full md:max-w-96 h-full items-center p-8 gap-4" do |form| %>
  <h1 class="text-2xl font-bold py-6"><%= t(".forgot_your_password") %></h1>

  <%= render 'layouts/flash' %>

  <%= form.label :email_address, t(".email_address_label"), class: "w-full" %>

  <%= form.email_field :email_address,
    required: true,
    autofocus: true,
    autocomplete: "username",
    placeholder: t(".email_address_placeholder"),
    value: params[:email_address],
    class: "w-full border border-zinc-400 dark:border-zinc-600 shadow rounded-lg p-2" %>

  <%= form.submit t(".email_reset_instructions"),
    class: "w-full border border-zinc-400 dark:border-zinc-600 hover:bg-zinc-200 dark:hover:bg-zinc-800 shadow rounded-full mt-6 p-1" %>

  <%= link_to t(".sign_in_instead"), new_session_path, class: "underline" %>
<% end %>
