<!DOCTYPE html>

<html>
  <head>
    <title><%= content_for(:title) || t("shared.application_title") %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%= favicon_link_tag image_url("favicon.ico") %>
    <%= favicon_link_tag image_url("icon.png"), type: "image/png" %>
    <%= favicon_link_tag image_url("icon.svg"), type: "image/svg+xml" %>
    <%= favicon_link_tag image_url("icon.png"), type: "image/png", rel: "apple-touch-icon" %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body
    class="
      w-screen h-screen flex flex-col items-center bg-zinc-50 text-zinc-950
      dark:bg-zinc-950 dark:text-zinc-200
    "
  >
    <%= yield %>
  </body>
</html>
